<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/nicla/code/TestNGMaven">
        <groups>
            <run>
                <include name="Basic Math"  />
                <include name="More advanced Math"  />
            </run>
        </groups>


        <classes>
                <class name = "NGTestAppTest" />
       </classes>

    </test>
</suite>